@import 'reset';
@import 'select';

@font-face{
    font-family: 'Exo 400';
    src: url('../fonts/Exo\ 2/Exo2-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: 'Exo 500';
    src: url('../fonts/Exo\ 2/Exo2-Medium.ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: 'Exo 600';
    src: url('../fonts/Exo\ 2/Exo2-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

body{
    color: #333333;
}
p, option, label, textarea::placeholder, input::placeholder{
    font-family: 'Exo 400', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
h1, button{
    font-family: 'Exo 500', sans-serif;
}
h2, h3, select{
    font-family: 'Exo 600', sans-serif;
    font-size: 16px;
    line-height: 24px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.content{
    display: flex;
    
    width: 1440px;
    height: 800px;

    border: 1px solid #000;
}

/* Header (begin) */
header{
    position: relative;
    flex-basis: 720px;
    padding: 60px 150px;

    background: url(../images/page1/main-image.jpg) no-repeat center center / cover;

    .red-rect{
        float: left;
        margin-right: 10px;
        margin-top: 3px;
        
        width: 3px;
        height: 13px;

        background-color:red;
    }

    h1{
        float: left;
    
        text-transform: uppercase;
        color: #fff;

        font-family: 'Exo 500';
        font-size: 16px;
        line-height: 20px;
    }

    #title{
        position: absolute;
        top: 45%;

        max-width: 380px;

        color: #fff;

        font-weight: 600;
        font-size: 40px;
        line-height: 56px;
    }
}
/* Header (end) */

/* Main (start) */
main{
    flex-basis: 720px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modal-close{
        align-self: flex-end;
        padding: 30px 30px 0 0;
    }

    /* Build (start) */
    #build-container h3{
        padding: 0 0 20px 127px;
    }

    .form_radio_btn {
        input[type=radio] {
            display: none;
        }

        label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin: 0 0 10px 127px;
            padding: 20px;

            cursor: pointer;
            width: 458px;
            height: 118px;
            

            background-color: #fff;
            border: 1px solid #E2E5E9;
            border-radius: 5px;

            user-select: none;

            .build-image{
                float: left;
                margin-right: 10px;
            }
    
            h3{
                float: left;
            }
    
            p{
                max-width: 425px;
                text-align: left;
                color: #868E96;
            }
        }

        input[type=radio]:checked + label {
            border: 1px solid #E62128;
        }

        label:hover {
            border: 1px solid #E62128;
        }
    }
    /* Build (end) */

    /* Model (begin) */
    #model-container{
        display: none;

        position: relative;
        align-self: center;

        width: 457px;
        height: 170px;

        label{
            display: none;
            
            font-size: 12px;
            line-height: 18px;

            color: #868E96;
        }

        select{
            width: 100%;
            margin-bottom: 36px;

            cursor: pointer;
            color: #ADB5BD;
            border: none;
            appearance: none;
            background: url(../images/page2/disabled.jpg) no-repeat right center;

            &:hover, &:focus{
                color: #333333;
                background: url(../images/page2/selected.jpg) no-repeat right center;
            }
        }

        .miss{
            position: absolute;
            top: 310px;

            a{
                color: #E62128;
            }
        }
    }
    /* Model (end) */

    /* Additionally (begin) */
    #additionally-container{
        display: none;


        align-self: center;

        width: 457px;
        height: 441px;

        label{
            display: none;
            
            font-size: 12px;
            line-height: 18px;

            color: #868E96;
        }

        select{
            width: 100%;
            margin-bottom: 36px;

            cursor: pointer;
            color: #ADB5BD;
            border: none;
            appearance: none;
            background: url(../images/page2/disabled.jpg) no-repeat right center;

            &:hover, &:focus{
                color: #333333;
                background: url(../images/page2/selected.jpg) no-repeat right center;
            }
        }

        .horizontal-line{
            height: 1px;
            width: 100%;

            margin-bottom: 18px;

            background-color: #E2E5E9;
        }

        .choice-color{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .colors{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;


                input[type=radio]{
                    display: none;
                }
                
                label{
                    display: block;
        
                    width: 48px;
                    height: 48px;
        
                    cursor: pointer;
                    border-radius: 5px;
        
                    &[for="white"]{
                        border: 1px solid #E2E5E9;
                    }
                }
        
                input[type=radio]:checked + label {
                    position: relative;
                    &::before{
                        position: absolute;
                        top: 25%;
                        left: 25%;
                        content: url(../images/page3/Done.png);
                    }
                }
            }
        }
    }
    /* Additionally (end) */

    /* Photo (begin) */
    #photo-container{
        display: flex;
        align-self: center;
        flex-direction: column;
        gap: 10px;

        width: 457px;
        height: auto;

        input{
            display: none;
        }

        label[for=first-photo]{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            width: 457px;
            height: 303px;

            cursor: pointer;
            background-color: #FAFAFB;
            border: 1px solid #E2E5E9;
            border-radius: 5px;

            img{
                width: 24px;
                height: auto;
            }

            .p2{
                color: #999999;
            }
        }

        label[for=second-photo], label[for=third-photo]{
            display: none;
            justify-content: center;

            width: 224px;
            height: 149px;

            cursor: pointer;
            background-color: #FAFAFB;
            border: 1px solid #E2E5E9;
            border-radius: 5px;

            img{
                align-self: center;
            }
        }

        #show-file1{
            display: none;
            justify-content: center;
            position: relative;

            border: 1px solid #E2E5E9;
            border-radius: 5px;
            
            img{
                max-width: 457px;
                max-height: 303px;
            }

            button{
                position: absolute;
                top: 5px;
                left: 5px;

                width: 92px;
                height: 24px;

                background: rgba(0, 0, 0, 0.8);
                border: none;
                border-radius: 5px;

                color: #ffffff;
                font-family: 'Exo 400';
                font-size: 12px;
                line-height: 18px;
            }

            .delete-img{
                position: absolute;
                top: 5px;
                right: 5px;
    
                width: 24px;
                height: 24px;
    
                cursor: pointer;
            }
        }
        
        .another-photo{
            display: flex;
            gap: 10px;

            #show-file2, #show-file3{
                display: none;
                justify-content: center;
                position: relative;
    
                width: 224px;
                height: 149px;

                border: 1px solid #E2E5E9;
                border-radius: 5px;
                
                img{
                    max-width: 224px;
                    max-height: 149px;
                }
    
                .delete-img{
                    position: absolute;
                    top: 5px;
                    right: 5px;
        
                    width: 24px;
                    height: 24px;
        
                    cursor: pointer;
                }
            }
        }

        .photo-descrition{
            display: none;

            color: #999999;
            font-size: 12px;
            line-height: 18px;
        }
    }
    /* Photo (end) */

    /* Description (begin) */
    #description-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 20px;

        width: 457px;
        height: auto;

        textarea{
            width: 457px;
            resize: none;

            padding: 12px 15px;

            border: 1px solid #E2E5E9;
            border-radius: 5px;
        }
    }
    /* Description (end) */

    /* Ready (begin) */
    #ready-container{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        gap: 60px;

        width: 457px;
        height: auto;

        img{
            width: 170px;
            height: auto;
        }

        .vin-container{
            h3{
                margin-bottom: 20px;
            }

            #vin-number{
                width: 100%;
                height: 48px;

                padding: 12px 15px;
                margin-bottom: 10px;

                border: 1px solid #E2E5E9;
                border-radius: 5px;

                
            }

            label{
                color: #868E96;

                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    /* Ready (end) */

    .pages{
        display: flex;
        justify-content: space-between;

        margin: 0 30px;

        .page{
            width: 126px;
            height: 2px;
            background: #E2E5E9;
        }
    }

    .form-direction{
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 20px 30px;

        .direction-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;

            width: 155px;
            height: 40px;

            cursor: pointer;
            background-color: #fff;
            border: 1px solid #E2E5E9;
            border-radius: 5px;

            & p{
                line-height: 40px;
            }

            &#next-btn{
                padding-left: 10px;

                border: none;
                color: #ffffff;
                background-color: #E62128;

                &:disabled{
                    background-color: #F5F5F5;
                    color: #ADB5BD;
                }
            }
        }
    }
}
/* Main (end) */